@import url(reset.min.css);
@import url(wide-screen.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

html {
    background:#fdfdfd;
    color: #222;
    font-family: 'Droid Serif', serif;
    padding: 25px;
    min-width: 625px;
}

header {
    margin: 0 0 10px 25px;
}

@media only screen
and (max-width : 81em) {
    header {
        text-align: center;
    }

    header h1, header h2 {
        display: inline-block;
    }
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding: 10px 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

a {
    color: #3E48D2;
    text-decoration: none;
}

a:hover {
    color: #BA20BA;
    text-decoration: underline;
}

p {
    padding: 8px 0 2px 0;
}

li {
    margin: 0 0 0 35px;
    padding: 4px 0 0 0;
}

.hidden {
    display: none;
}

.notvisible {
    visibility: hidden;
}

.craparrow {
    margin: 0 13px;
}

.bluebutton {
    background: #96A8C8;
    border: 1px solid #2D323C;
}

.bluebutton:enabled {
    cursor:pointer;cursor:hand;
    background-image: -ms-linear-gradient(top, #B6C2D8 0%, #96A8C8 100%); /* IE10 Consumer Preview */
    background-image: -moz-linear-gradient(top, #B6C2D8 0%, #96A8C8 100%); /* Mozilla Firefox */
    background-image: -o-linear-gradient(top, #B6C2D8 0%, #96A8C8 100%); /* Opera */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B6C2D8), color-stop(1, #96A8C8)); /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-linear-gradient(top, #B6C2D8 0%, #96A8C8 100%); /* Webkit (Chrome 11+) */
    background-image: linear-gradient(to bottom, #B6C2D8 0%, #96A8C8 100%); /* W3C Markup, IE10 Release Preview */
}

.bluebutton[disabled] {
    background-image: -ms-linear-gradient(top, #C3C3C3 0%, #AAAAAA 100%); /* IE10 Consumer Preview */
    background-image: -moz-linear-gradient(top, #C3C3C3 0%, #AAAAAA 100%); /* Mozilla Firefox */
    background-image: -o-linear-gradient(top, #C3C3C3 0%, #AAAAAA 100%); /* Opera */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C3C3C3), color-stop(1, #AAAAAA)); /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-linear-gradient(top, #C3C3C3 0%, #AAAAAA 100%); /* Webkit (Chrome 11+) */
    background-image: linear-gradient(to bottom, #C3C3C3 0%, #AAAAAA 100%); /* W3C Markup, IE10 Release Preview */
}

.bluebutton:enabled:active {
    background: #96A8C8;
    background-image: -ms-linear-gradient(bottom, #B6C2D8 0%, #96A8C8 100%); /* IE10 Consumer Preview */
    background-image: -moz-linear-gradient(bottom, #B6C2D8 0%, #96A8C8 100%); /* Mozilla Firefox */
    background-image: -o-linear-gradient(bottom, #B6C2D8 0%, #96A8C8 100%); /* Opera */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #B6C2D8), color-stop(1, #96A8C8)); /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-linear-gradient(bottom, #B6C2D8 0%, #96A8C8 100%); /* Webkit (Chrome 11+) */
    background-image: linear-gradient(to top, #B6C2D8 0%, #96A8C8 100%); /* W3C Markup, IE10 Release Preview */
}

/* Top Controls */
#controls {
    margin: 0 auto;
    width: 700px;
}

#controls #autoplay {
    background: #EAEEF4;
    border: 1px solid #96A8C8;
    border-left: none;
    border-radius: 7px;
    box-shadow: 2px 2px 5px 0px #666;
    float: left;
    font-size: 11px;
    height: 45px;
    margin: 17px 0 0 19px;
    padding: 0 5px;
    position: relative;
    width: 286px;
}

#controls #autoplay p {
    float: right;
    padding: 4px 0 0 0;
    text-align: left;
    width: 236px;
}

#controls #autoplay input {
    height: 13px;
    font-size: 12px;
    margin: -2px 0 0 0;
    width: 50px;
}

#controls #autoplay #play {
    border-radius: 40px;
    font-weight: 700;
    float: left;
    height: 60px;
    left: -15px;
    position: absolute;
    top: -8px;
    width: 60px;
}

#controls #autoplay #play:hover {
    box-shadow: 0 0 10px blue;
}

#controls #autoplay #play:active {
    box-shadow: 0 0 20px blue;
}

#controls #autoplay #reverse,
#controls #autoplay #forward {
    border-radius: 0px;
    float: left;
    height: 20px;
    left: -26px;
    position: absolute;
    top: 40px;
    width: 40px;
    transform: skew(-18deg,0deg);
    -ms-transform: skew(-18deg,0deg);
    -webkit-transform: skew(-18deg,0deg);
}

#controls #autoplay #forward {
    left: 17px;
}

/* toggle direction playing */
.dir-select {
    box-shadow: 0 0 5px blue;
    font-weight: 700;
}

#controls #step {
    border-left: 1px dashed #222;
    float: right;
    font-size: 11px;
    height: 75px;
    padding: 0 20px 13px;
}

#controls #step p {
    text-align: center;
}

#controls #step input[type=button] {
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0px #666;
    font-weight: 700;
    height: 32px;
    margin: 0 2px 0 0!important;
    width: 48px;
}

#controls #step input[type=button]:active {
    position: relative;
    box-shadow: none;
    top: 2px;
    left: 2px;
}

#slider {

}

#controls #mousewheel {
    border-top: 1px dashed #222;
    clear: both;
    font-size: 13px;
    margin: 0 0 5px 0;
    text-align: center;
}


/* Comic */
#tehmainevent {
    font-size: 10px;
    position: relative;
    margin: auto;
    width: 600px;
}

.normal-glow {
    box-shadow:         0px 0px 20px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:    0px 0px 20px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.special-glow {
    box-shadow:         0px 0px 30px rgba(216, 166, 0, 0.7);
    -moz-box-shadow:    0px 0px 30px rgba(216, 166, 0, 0.7);
    -webkit-box-shadow: 0px 0px 30px rgba(216, 166, 0, 0.7);
}

.debated-glow {
    box-shadow:         0px 0px 20px rgba(255, 0, 0, 0.7);
    -moz-box-shadow:    0px 0px 20px rgba(255, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.7);
}

#scrollhere {
    text-align: center;
}

#framecount {
    float: right;
    line-height: 13px;
    margin: 6px 27px 0 0;
    vertical-align: middle;
}

#framecount input {
    height: 10px;
    font-size: 10px;
    margin: -2px 0 0 0;
    text-align: right;
    width: 39px;
}

#loading {
    float: right;
    margin: 0 4px 0 0;
}

#actuallink {
    border: 1px solid grey;
    padding: 2px .5em 2px .5em;
    margin: 4px 0 0 -38px;
    background-color: white;
    text-align: left;
    font-size: 12px;
    float: left;
}

#showlong {
    height: 14px;
    text-align: right;
    float: right;
    margin-right: 2em;
    margin-top: 4px;
}



/* Frame Data Panel*/
.openingpanel {
    background: #D5DCE9;
    font-size: 10px;
    margin: -3px auto;
    padding: 0 0 3px 0;
    width: 900px;
}

.openingpanel h3 {
    cursor: pointer; cursor: hand;
    background: #96A8C8;
    border-bottom: 1px dashed #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 10px;
}

#framedata {
    position: relative;
    margin-top: 30px;
}

/* Sub Componets of Frame Data */
#framedata .framedata-sub {
    float: left;
    padding: 10px 0;
    text-align: center;
}

/* Share Link */
#framedata #link {
    border-bottom: 1px dashed #222;
    border-right: 1px dashed;
    height: 55px;
    width: 498px;
}

#framedata #link #showlong {
    margin: 0 0 0 328px;
}

/* Vote Data */
#framedata #votedata {
    clear: left;
    width: 260px;
}

#votedata p {
    font-size: 13px;
}

#votedata #debated {
    color: rgb(209, 37, 37);
    font-size: 14px;
    font-weight: 700;
}

#votedata #voteinfo {
    font-size: 10px;
    padding: 5px;
    text-align: left;
}
#votedata .vote {
    cursor: hand;
    cursor: pointer;
}

#vote {
    color: #888;
    padding: 1px;
    position: absolute;
    right: 623px;
    text-align: center;
    top: 0px;
    width: 100px;
}

#vote h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 13px;
}

#vote #voteconfirm {
    list-style-type: none;
}

#vote #voteconfirm li{
    background: #FFFFE0;
    border: 1px solid;
    margin: 1px;;
    padding: 2px;
}


/* Image Difference */
#imgdiffopts {
    border-bottom: 1px dashed #222;
    border-right: 1px dashed #222;
    height: 55px;
    width: 260px;
    float: left;
}
#imgdiffopts div {
    width: 250px;
    margin: 0 auto;
}

#framedata #imgdiffopts p {
    padding: 7px 0 0 10px;
    text-align: left;
}

#framedata #imgdiffopts input {
    margin: -4px 0 0 0;
}

#framedata #imgdiffopts #freezeframe {
    height: 10px;
    font-size: 10px;
    width: 40px;
}


/* Preload Indicator */
#framedata #preloadindicator {
    border-left: 1px dashed #222;
    padding: 10px 0 0 0;
    width: 638px;
}

#framedata #preloadindicator #preloadAllButton {
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0px #666;
    font-weight: 700;
    height: 31px;
    margin: 13px 0 0 0!important;
    width: 90px;
}

#framedata #preloadindicator #preloadAllButton:active {
    position: relative;
    box-shadow: none;
    top: 2px;
    left: 2px;
}

#framedata #preloadindicator #preloadingStatus {
    border: 1px solid #222;
    padding: 2px;
}

#framedata #preloadindicator #pli-legend {
    height: 80px;
    float: right;
    padding: 10px 90px 10px 0;
}

/* Special Frames Panel */
#framedata .openingpanelrightext {
    float: right;
    font-size: 12px;
    margin: 4px 10px 0 0;
}

.frames .inside {
    display: none;
}

.frames ul {
    padding: 5px;
}

.frames ul li{
    list-style-type: none;
    display: inline;
    margin: 0;
}

.frames ul li img{
    height: 210px;
    padding: 1px;
    width: 294px;
}


/* The bottom */
footer {
    clear: both;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 25px 0 0 0;
    text-align: right;
}

footer #credit {
    float: left;
    text-align: left;
    width: 650px;
}

footer p {
    padding: 40px 0 0 0;
}

footer #note {
    display: none;
}


/* Now no one can accuse me of never using a repsonsive web design. */
@media screen and (min-width: 2600px) {
    footer #note {
        display: block;
        padding: 3px 0 0 0;
    }
}

