@import url(http://reset5.googlecode.com/hg/reset.min.css);
@import url(ui-lightness/jquery-ui-1.10.2.custom.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

html {
    background:#fdfdfd;
    color: #222;
    font-family: 'Droid Serif', serif;
    padding: 25px;
    min-width: 625px;
}

header {
    margin: 0 0 10px 25px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding: 10px 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 10px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 10px 0 0 0;
}

a {
    color: #3E48D2;
    text-decoration: none;
}

a:hover {
    color: #BA20BA;
    text-decoration: underline;
}

p {
    padding: 8px 0 2px 0;
}

li {
    margin: 0 0 0 35px;
    padding: 4px 0 0 0;
}

#controls {
    text-align: left;
    margin: 0 0 0 23px;
}

#controls input{
    width: 60px;
    height: 35px;
}

#step {
    margin: 0 0 0 53px;
}

#tehmainevent {
    margin: auto;
    width: 600px;
    text-align: center;
}

#slider { 
    margin: 30px auto;
    width: 600px;
}

#link {
    padding: 0 0 10px 0;
    width: 600px;
}

#link span {
    font-size: 11px;
}

#small {
    margin: 0 0 0 10px;
    font-size: 10px;
}

#interest span {
    font-size: 12px;
}

#interest li {
    list-style-type: none;
}

#credit {
    float: left;
    text-align: left;
    width: 650px;
}

footer {
    clear: both;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 10px 0 0 0;
    text-align: right;
}

#note {
    display: none;
}

#textframes ul {
    margin: 0 35px;
}

#textframes li{
    list-style-type: none;
    display: inline;
    margin: 0;
}

#textframes img{
    width: 120px;
    padding: 6px 4px;
}

#belowpic {
    font-size: 10px;
    margin: 0 25px;
    text-align: left;
}

#frameNum {
    float: right;
}

#scrollhere {
    height: 398px;
    position: relative;
}

#slideshow {
    position: absolute;
    margin: 0 0 0 -275px;
}

#canvas3 {
    position: absolute;
    margin: 0 0 0 -275px;
}

.hidden {
    display: none;
}

@media screen and (min-width: 75em) {
    #textframes {
        float: right;
        width: 50%
    }
}

@media screen and (min-width: 2600px) {
    #note {
        display: block;
    }
}