@import url(reset.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

html {
    background:#fdfdfd;
    color: #222;
    font-family: 'Droid Serif', serif;
    padding: 25px;
    min-width: 625px;
}

header {
    margin: 0 0 10px 25px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding: 10px 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

a {
    color: #3E48D2;
    text-decoration: none;
}

a:hover {
    color: #BA20BA;
    text-decoration: underline;
}

p {
    padding: 8px 0 2px 0;
}

li {
    margin: 0 0 0 35px;
    padding: 4px 0 0 0;
}

.bluebutton {
    background: #96A8C8;
    border: 1px solid #2D323C;
    background-image: -ms-linear-gradient(top, #B6C2D8 0%, #96A8C8 100%); /* IE10 Consumer Preview */ 
    background-image: -moz-linear-gradient(top, #B6C2D8 0%, #96A8C8 100%); /* Mozilla Firefox */ 
    background-image: -o-linear-gradient(top, #B6C2D8 0%, #96A8C8 100%); /* Opera */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B6C2D8), color-stop(1, #96A8C8)); /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-linear-gradient(top, #B6C2D8 0%, #96A8C8 100%); /* Webkit (Chrome 11+) */ 
    background-image: linear-gradient(to bottom, #B6C2D8 0%, #96A8C8 100%); /* W3C Markup, IE10 Release Preview */ 
}

.bluebutton:active {
    background: #96A8C8;
    background-image: -ms-linear-gradient(bottom, #B6C2D8 0%, #96A8C8 100%); /* IE10 Consumer Preview */
    background-image: -moz-linear-gradient(bottom, #B6C2D8 0%, #96A8C8 100%); /* Mozilla Firefox */ 
    background-image: -o-linear-gradient(bottom, #B6C2D8 0%, #96A8C8 100%); /* Opera */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #B6C2D8), color-stop(1, #96A8C8)); /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-linear-gradient(bottom, #B6C2D8 0%, #96A8C8 100%); /* Webkit (Chrome 11+) */ 
    background-image: linear-gradient(to top, #B6C2D8 0%, #96A8C8 100%); /* W3C Markup, IE10 Release Preview */
}

/* Top Controls */
#controls {
    margin: 0 auto;
    width: 700px;
}

#controls #autoplay {
    background: #EAEEF4;
    border: 1px solid #96A8C8;
    border-left: none;
    border-radius: 7px;
    box-shadow: 2px 2px 5px 0px #666;
    float: left;
    font-size: 11px;
    height: 45px;
    margin: 17px 0 0 19px;
    padding: 0 5px;
    position: relative;
    width: 286px;
}

#controls #autoplay p {
    float: right;
    padding: 4px 0 0 0;
    text-align: left;
    width: 236px;
}

#controls #autoplay input {
    height: 13px;
    font-size: 12px;
    margin: -2px 0 0 0;
    width: 50px;
}

#controls #autoplay #play {
    border-radius: 40px;
    font-weight: 700;
    float: left;
    height: 60px;
    left: -15px;
    position: absolute;
    top: -8px;
    width: 60px;
}

#controls #autoplay #play:hover {
    box-shadow: 0 0 10px blue;
}

#controls #autoplay #play:active {
    box-shadow: 0 0 20px blue;
}

#controls #autoplay #reverse,
#controls #autoplay #forward {
    border-radius: 0px;
    float: left;
    height: 20px;
    left: -26px;
    position: absolute;
    top: 40px;
    width: 40px;
    transform: skew(30deg,20deg);
    -ms-transform: skew(30deg,20deg);
    -webkit-transform: skew(-18deg,0deg);
}

#controls #autoplay #forward {
    left: 17px;
}

/* toggle direction playing */
.dir-select {
    box-shadow: 0 0 5px blue;
    font-weight: 700;
}

#controls #step {
    border-left: 1px dashed #222;
    float: right;
    font-size: 11px;
    height: 70px;
    padding: 0 20px 13px;
}

#controls #step p {
    text-align: center;
}

#controls #step input{
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0px #666;
    font-weight: 700;
    height: 32px;
    margin: 0 2px 0 0!important;
    width: 48px;
}

#controls #step input:active {
    position: relative;
    box-shadow: none;
    top: 2px;
    left: 2px;
}

#controls #mousewheel {
    border-top: 1px dashed #222;
    clear: both;
    font-size: 13px;
    margin: 0 0 5px 0;
    text-align: center;
}


/* Comic */
#tehmainevent {
    font-size: 10px;
    position: relative;
    margin: auto;
    width: 600px;
}

#scrollhere {
    text-align: center;
}

#frameNum {
    float: right;
    margin: 0 27px 0 0;
}

#loading {
    float: right;
    margin: 0 4px 0 0;
}

#slider{
    height: 70px;
    margin: 5px auto;
    width: 600px;
}

#vote {
    display: none;

    border: 1px solid;
    position: absolute;
    right: -173px;
    text-align: center;
    top: 198px;
}


/* The Fun Stuff */
#funstuff {
    background: #D5DCE9;
    border-radius: 4px;
    font-size: 10px;
    margin: 0 auto;
    padding: 0 0 3px 0;
    width: 901px;
}

#funstuff h3 {
    background: #96A8C8;
    border-bottom: 1px dashed #222;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 10px;
}

#funstuff #link {
    border-bottom: 1px dashed #222;
    padding: 10px 0;
    text-align: center;
}

#funstuff #imgdiffopts {
    margin: 0 0 14px 11px;
    width: 220px;
}

#funstuff #imgdiffopts p {
    margin: 0 0 0 77px;
}



#funstuff #preloadindicator {
    border-left: 1px dashed #222;
    float: right;
    margin: -83px 5px 2px 0;
    padding: 0 0 0 38px;
    width: 593px;
}

#funstuff #preloadindicator  p {
    margin: 0 220px 0 0;
    text-align: right;
}

#funstuff #preloadindicator #preloadAllButton {
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0px #666;
    float: left;
    font-weight: 700;
    height: 31px;
    position: relative;
    top: 24px;
    width: 82px;
}

#funstuff #preloadindicator #preloadAllButton:active {
    position: relative;
    box-shadow: none;
    top: 26px;
    left: 2px;
}

#funstuff #preloadindicator #preloadingStatus {
    border: 1px solid #222;
    float: right;
    padding: 2px;
}

/* Special Frames */
#textframes {
    background: #D5DCE9;
    border-radius: 4px;
    margin: 9px auto 50px;
    padding: 0 0 3px 0;
    width: 901px;
}

#textframes h3{
    background: #96A8C8;
    border-bottom: 1px dashed #222;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 10px;
}

#textframes ul {
    margin: 0 4px;
    display: none;
}

#textframes li{
    list-style-type: none;
    display: inline;
    margin: 0;
}

#textframes img{
    width: 294px;
    padding: 1px;
}

#belowpic {
    font-size: 10px;
    margin: 0 25px;
    text-align: left;
}

#freezeframe {
    height: 10px;
    font-size: 10px;
    margin: 0 0 0 5px;
    width: 40px;
}


.craparrow {
    margin: 0 13px;
}








/* The bottom */
footer {
    clear: both;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 25px 0 0 0;
    text-align: right;
}

footer #credit {
    float: left;
    text-align: left;
    width: 650px;
}

footer #note {
    display: none;
}

.hidden {
    display: none;
}

/* Now no one can accuse me of never using a repsonsive web design. */
@media screen and (min-width: 2600px) {
    #note {
        display: block;
    }
}