@import url(reset.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

html {
    background:#fdfdfd;
    color: #222;
    font-family: 'Droid Serif', serif;
    padding: 25px;
    min-width: 625px;
}

header {
    margin: 0 0 10px 25px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding: 10px 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 10px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 10px 0 0 0;
}

a {
    color: #3E48D2;
    text-decoration: none;
}

a:hover {
    color: #BA20BA;
    text-decoration: underline;
}

p {
    padding: 8px 0 2px 0;
}

li {
    margin: 0 0 0 35px;
    padding: 4px 0 0 0;
}

#controls {
    text-align: left;
    margin: 0 auto;
    width: 554px;
}

#controls input{
    width: 60px;
    height: 35px;
}

#step {
    float: right;
}

#tehmainevent {
    margin: auto;
    width: 600px;
    text-align: center;
}

#slider{
    height: 70px;
    margin: 5px auto;
    width: 600px;
}

#ffslider  {
    margin: 25px auto 25px;
}

#link {
    width: 600px;
}

#link span {
    font-size: 11px;
}

#small {
    margin: 0 0 0 10px;
    font-size: 10px;
}

#interest span {
    font-size: 12px;
}

#interest li {
    list-style-type: none;
}

#credit {
    float: left;
    text-align: left;
    width: 650px;
}

footer {
    clear: both;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 25px 0 0 0;
    text-align: right;
}

#note {
    display: none;
}

#textframes {
    background: rgb(202, 202, 226);
    margin: 20px auto 50px;
    padding: 0 0 3px 0;
    width: 901px;
}

#textframes h3{
    background: url('expand_arrow_down.png') no-repeat left;
    margin: 0 0 0 10px;
    padding-left: 24px;
}

#textframes ul {
    margin: 0 4px;
    display: none;
}

#textframes li{
    list-style-type: none;
    display: inline;
    margin: 0;
}

#textframes img{
    width: 294px;
    padding: 2px 0px;
}

#belowpic {
    font-size: 10px;
    margin: 0 25px;
    text-align: left;
}

#freezeframe {
    height: 10px;
    font-size: 10px;
    margin: 0 0 0 5px;
    width: 40px;
}

#frameNum {
    float: right;
    margin: -31px 0 0 0;
}

#LoadingIndicator {
    float: right;
    margin: -17px 0 0 0;
}

#scrollhere {
    height: 398px;
}

.hidden {
    display: none;
}

@media screen and (min-width: 2600px) {
    #note {
        display: block;
    }
}