@import url(reset.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

html {
    background:#fdfdfd;
    color: #222;
    font-family: 'Droid Serif', serif;
    padding: 25px;
    min-width: 625px;
}

header {
    
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    padding: .5em 0;
    text-align: center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
}

a {
    color: #3E48D2;
}

.hidden {
    display: none;
}


.bluebutton {
    background: #96A8C8;
    border: 1px solid #2D323C;
    background-image: -ms-linear-gradient(top, #B6C2D8 0%, #96A8C8 100%); /* IE10 Consumer Preview */ 
    background-image: -moz-linear-gradient(top, #B6C2D8 0%, #96A8C8 100%); /* Mozilla Firefox */ 
    background-image: -o-linear-gradient(top, #B6C2D8 0%, #96A8C8 100%); /* Opera */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B6C2D8), color-stop(1, #96A8C8)); /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-linear-gradient(top, #B6C2D8 0%, #96A8C8 100%); /* Webkit (Chrome 11+) */ 
    background-image: linear-gradient(to bottom, #B6C2D8 0%, #96A8C8 100%); /* W3C Markup, IE10 Release Preview */ 
}

.bluebutton:active {
    background: #96A8C8;
    background-image: -ms-linear-gradient(bottom, #B6C2D8 0%, #96A8C8 100%); /* IE10 Consumer Preview */
    background-image: -moz-linear-gradient(bottom, #B6C2D8 0%, #96A8C8 100%); /* Mozilla Firefox */ 
    background-image: -o-linear-gradient(bottom, #B6C2D8 0%, #96A8C8 100%); /* Opera */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #B6C2D8), color-stop(1, #96A8C8)); /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-linear-gradient(bottom, #B6C2D8 0%, #96A8C8 100%); /* Webkit (Chrome 11+) */ 
    background-image: linear-gradient(to top, #B6C2D8 0%, #96A8C8 100%); /* W3C Markup, IE10 Release Preview */
}

/* Top Controls */
#controls {

}

#controls #step {
    text-align: center;
    margin: 5em 0 0 0;
}

#controls #step p {
    text-align: center;
}

#controls #step input{
    border-radius: .25em;
    box-shadow: .1em .1em .25em 0px #666;
    font-size: 3em;
    font-weight: 700;
    height: 3em;
    margin: 0 .1em 0 0!important;
    width: 15%;
}

#controls #step input:active {
    position: relative;
    box-shadow: none;
    top: 2px;
    left: 2px;
}



/* Comic */
#tehmainevent {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

#scrollhere {
    text-align: center;
    width: 100%;
}

#scrollhere img {
    width: 100%;
}

#framecount {
    float: right;
    font-size: 2em;
    margin: .5em .5em 0 0;
    vertical-align: middle;
}

#framecount input {
    height: 1.2em;
    font-size: 1em;
    text-align: right;
    width: 4em;
}


/* The bottom */
footer {
    clear: both;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 8em 1em 0;
}

footer p {
    line-height: 1.25em;
    margin: 1em 0 0 0;
}