@media only screen and (min-width : 81em) {
    header {
        float: left;
    }

    #autoplay {
        margin: 0 0 0 -266px !important;
        top: 100px;
        z-index: 10;
    }
    
    #step {
        position: relative !important;
        top: 91px;
        background: #EAEEF4;
        border: 1px solid #96A8C8 !important;
        border-radius: 7px;
        box-shadow: 2px 2px 5px 0px #666;
        margin: 0 -332px 0 0;
        padding-bottom: 2em !important;
        z-index: 10;
    }
    
    #controls {

    }
    
    #controls #mousewheel {
        border: none!important;
    }

    #votedata {
        position: absolute;
        left: -131px;
        top: -373px;
        background: #EAEEF4;
        border: 1px solid #96A8C8;
        border-radius: 7px;
        box-shadow: 2px 2px 5px 0px #666;
    }

    #imgdiffopts {
        position: absolute;
        right: -145px;
        top: -250px;
        background: #EAEEF4;
        border: 1px solid #96A8C8!important;
        border-radius: 7px;
        box-shadow: 2px 2px 5px 0px #666;
    }
}